<h1>Angular HTTP Service Example</h1>

<table border="1" style="width: 33%">
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Status</th>
    <th>Email</th>
    <th>Telephone</th>
    <th colspan="2">Option</th>
  </tr>
  <tr *ngFor="let emp of employees">
    <td>{{ emp.id }}</td>
    <td>{{ emp.name }}</td>
    <td>{{ emp.status }}</td>
    <td>{{ emp.email }}</td>
    <td>{{ emp.telephone }}</td>
    <td><button class="btn btn-danger" (click)="delEmployee(emp.id)">delete</button></td>
    <td>
      <a class="btn btn-info" [routerLink]="['/modifier/', emp.id]">
        <i class="fa fa-pencil"></i> update
      </a>
    </td>
  </tr>
  <tr>
    <td colspan="7">
      <a class="btn btn-info" routerLink="/ajouter/">
        <i class="fa fa-pen"></i> add new
      </a>
    </td>
  </tr>
</table>

<div>
  <!-- Additional content goes here -->
</div>

<div>
  <router-outlet></router-outlet>
</div>
